<div class="coffee-quiz">
	<form id="quiz" action="">
		<div class="question" id="qtype">
			<h2>What kind of coffee do you mainly want to drink</h2>
			<p>Some roasts work better as espresso, others as filter coffee.</p>
			<div class="selection">
				<div class="button-style">
					<input type="radio" name="type" value="espresso">Mostly Espresso
				</div>
				<div class="button-style">
					<input type="radio" name="type" value="filter">Mostly Filter
				</div>
			</div>
		</div>

		<div class="question" id="qfruit">
			<h2>Do you like fruit forward coffee?</h2>
			<p>Tart apple pie lemon drops cheesecake. Tootsie roll cake pastry pudding jelly-o candy canes. Fruitcake jujubes cupcake dragée lemon drops ice cream. Macaroon bonbon pastry danish.</p>
			<div class="selection">
				<div class="button-style">
					<input type="radio" name="fruit" value="yes">SOUNDS GOOD
				</div>
				<div class="button-style">
					<input type="radio" name="fruit" value="no">NO THANKS
				</div>
			</div>
		</div>

		<div class="question" id="qfamiliar">
			<h2>Do you like familiar tasting coffee?</h2>
			<p>Tart apple pie lemon drops cheesecake. Tootsie roll cake pastry pudding jelly-o candy canes. Fruitcake jujubes cupcake dragée lemon drops ice cream. Macaroon bonbon pastry danish.</p>
			<div class="selection">
				<div class="button-style">
					<input type="radio" name="familiar" value="yes">SOUNDS GOOD
				</div>
				<div class="button-style">
					<input type="radio" name="familiar" value="no">NO THANKS
				</div>
			</div>
		</div>

		<div class="question" id="qbetween">
			<h2>Do you like roasts that are in between?</h2>
			<p>Tart apple pie lemon drops cheesecake. Tootsie roll cake pastry pudding jelly-o candy canes. Fruitcake jujubes cupcake dragée lemon drops ice cream. Macaroon bonbon pastry danish.</p>
			<div class="selection">
				<div class="button-style">
					<input type="radio" name="between" value="yes">SOUNDS GOOD
				</div>
				<div class="button-style">
					<input type="radio" name="between" value="no">NO THANKS
				</div>
			</div>
		</div>

		<div class="question" id="qdark">
			<h2>Do you like dark roasts?</h2>
			<p>Tart apple pie lemon drops cheesecake. Tootsie roll cake pastry pudding jelly-o candy canes. Fruitcake jujubes cupcake dragée lemon drops ice cream. Macaroon bonbon pastry danish.</p>
			<div class="selection">
				<div class="button-style">
					<input type="radio" name="dark" value="yes">SOUNDS GOOD
				</div>
				<div class="button-style">
					<input type="radio" name="dark" value="no">NO THANKS
				</div>
			</div>
		</div>

		<div class="question" id="qadventure">
			<h2>Do you want to try some adventurous flavours?</h2>
			<p>Tart apple pie lemon drops cheesecake. Tootsie roll cake pastry pudding jelly-o candy canes. Fruitcake jujubes cupcake dragée lemon drops ice cream. Macaroon bonbon pastry danish.</p>
			<div class="selection">
				<div class="button-style">
					<input type="radio" name="adventure" value="yes">SOUNDS GOOD
				</div>
				<div class="button-style">
					<input type="radio" name="adventure" value="no">NO THANKS
				</div>
			</div>
		</div>

		<div class="question" id="qcomments">
			<h2>Leave us a comment to help us pick good coffee for you!</h2>
			<p>Tart apple pie lemon drops cheesecake. Tootsie roll cake pastry pudding jelly-o candy canes. Fruitcake jujubes cupcake dragée lemon drops ice cream. Macaroon bonbon pastry danish.</p>
			<div class="selection">
					<textarea cols="20" rows="4" name="comments" placeholder="Leave a comment here"></textarea>
			</div>
		</div>		

		<div class="question" id="qsublength">
			<h2>How many issues do you want?</h2>
			<p>We send one issue per month.</p>
			<div class="selection">
				<div class="button-style">
					<input type="radio" name="subid" value="2828153732">ONE ISSUE
				</div>
				<div class="button-style">
					<input type="radio" name="subid" value="3717138180">THREE ISSUES
				</div>
				<div class="button-style">
					<input type="radio" name="subid" value="3717136644">SIX ISSUES
				</div>
				<div class="button-style">
					<input type="radio" name="subid" value="2827938564">TWELVE ISSUES
				</div>
			</div>
		</div>	

		<div class="question" id="qconfirm">
			<h2></h2>	
			<ul>
			</ul>
			<input type="submit" value="ADD TO CART">
		</div>

		<br>
		<button id="next" type="button">NEXT</button>
		<br>
		<button id="back" type="button">BACK</button>
		<br>
		<button id="restart" type="button">START OVER</button>	


	</form>

</div>